*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}
.buy{
 background-color: #00bcd4;
 color: white;
 padding: 20px;
 border: 1px solid transparent;
 border-radius: 5px ;
 box-shadow: 12px 12px 7px rgb(138, 97, 97);
 margin-bottom: 40px;
 margin-top: 20px;
}

.done{
    background-color: rgb(24, 130, 243);
    color: white;
    padding: 20px;
    border: 1px solid transparent;
    border-radius:0px 0 5px 5px;
    margin:0;
}
h2 , p{
    text-align: center;
}
p{
    color: gray;
}
.buying{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2vw;
    text-transform: capitalize;
    padding: 10px;
}
.number{
    margin-left: 20px;
}
form{
    width: 100%;
    padding: 10px;
    
}
.new-item{
    padding: 10px;
    margin-right: 20px;
    width: 50%;
    outline: none;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid gray;
}
.quantity{
    padding: 10px;
    width: 25%;
    margin-right: 20px;
    outline: none;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid gray;
}
.add{
    padding: 10px 20px;;
    background-color:rgb(24, 130, 243);
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
.add:hover{
    background: rgb(6, 82, 197);
}

.strike-over{
    text-decoration: line-through;
}
.is-hidden{
display: none;
}
.delete{
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    margin: 0;
    cursor: pointer;
    outline: none;
}
.delete:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .colapse{
    color: white;
    box-shadow: 12px 12px 7px rgb(138, 97, 97);
    margin-bottom: 30px;
    margin-top: 30px;
    border: 0px solid transparent;
    border-radius:0px 0 5px 5px;

  }
  .show-hide{
    padding:  20px;;
    background-color:rgb(24, 130, 243);
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
    border: 1px solid transparent;
    border-radius:5px 5px 0px 0px;
  }
  .show-hide:hover{
    background: rgb(6, 82, 197);
}
#show-hide-btn{
    float: right;
    font-size: 20px;
    font-weight: bold;
}
.arc{
    font-size: 20px;
    
}
h3{
    padding: 10px;
}


@media screen and (min-device-width:320px)and (max-device-width:480px){
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .buying{
        font-size: 20px;
    }
    .add{
        padding: 10px 20px;
        background-color:rgb(24, 130, 243);
        color: white;
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        margin-top: 10px;
    }
    .add:active{
        background: rgb(6, 82, 197);
    }
  
    .delete{
        font-size: 10px;
    }
}
@media screen and (min-device-width:700px)and (max-device-width:1200px){
    .container{
        width: 80%;
        padding: 20px 30px;
        
    }
    .buying{
        font-size: 20px;
    }
    .add{
        padding: 10px 20px;
        background-color:rgb(24, 130, 243);
        color: white;
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        margin-top: 10px;
    }
    .add:active{
        background: rgb(6, 82, 197);
    }
  
    .delete{
        font-size: 10px;
    }
}