body{
    width: 100%;
    margin:0;
    padding: 0 10%;
    background-color: #444E57
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #444E57;
}
*{
    box-sizing: border-box;
}
.header{
    text-align: center;
    color: white;
    padding: 10px;
}
h3{
    color: white;
    border-bottom: 2px solid #18AEE2;
    padding: 10px;
}
input{
    border-style: none;
    background-color: transparent;
    margin-right: 10px;
    color: white;
    padding: 10px 10px 10px 0;
}
input:focus {outline:0;}
::-webkit-input-placeholder{
    color:#81868c;
    padding-left: 0;
    margin-left: 0;
}
p{
    color: white;
    margin-bottom: 30px;
}

   .exp{
       display: inline-block;
       width: 48%;
       vertical-align: top;
   }
   .int{
       display: inline-block;
       width: 48%;
       vertical-align: top;
}
h5{
    color: #81868c;
}
.check{
    display: block;
    color: white;
}

label{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    margin-right: 20px;
    cursor: pointer;
    
}
#ux{
   opacity: 0;
   margin-left: -30px;
}
#research{
    opacity: 0;
    margin-left: -30px;
}
#visual{
    opacity: 0;
    margin-left: -30px;
}
#front{
    opacity: 0;
    margin-left: -30px;

}
input[type=radio]:checked + label{
    background-color: #18AEE2;
    color: white;
    border: none;
   }
input[type = checkbox] + label{
    background-color: transparent;
    border: none;
}
input[type = checkbox]{
    opacity: 0;
    margin-left: -30px;
}

input[type="checkbox"] + label::before {
    border: 1px solid white;
    content:"\00a0\00a0\00a0";
    font: 20px/1em sans-serif;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;    
   
  }
  input[type="checkbox"]:checked + label::before {
    background: #fff;
    color: #333;
    content: "\2713";
    text-align: center;
  }
   
#text-area{
    width: 100%;
    background-color: transparent;
    margin-top: 30px;
    margin-left: 2px;
    resize: none;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 30px;
}
textarea:focus {outline:0;}
button{
    background-color: rgb(84, 206, 243);
    color:white;
    padding:10px  30px;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 50px;
    border: 1.5px solid transparent;
    border-radius: 2px;
    font-size: 15px;
}

   button:focus {outline:0;}
   button:active{
       background-color: #18AEE2;
       border: 1px solid white;
   }
   .name{
       width: 70%;
       display: inline-block;
       border-bottom: 1px solid #81868c;
       margin-top: 10px; 
   }
   .phone{
    width: 29.5%;
    display: inline-block;
    border-bottom: 1px solid #81868c;
    margin-top: 10px; 
   }
   .email{
       width: 100%;
       border-bottom: 1px solid #81868c;
       margin-top: 10px; 
   }
   .adr{
    width: 100%;
    border-bottom: 1px solid #81868c;
    margin-top: 10px; 
}
   .logestic{
    border-bottom: 1px solid #81868c;
    width: 24.6%;
    display: inline-block;
    margin-top: 10px;  
   }
   .adr{
    width: 100%;
    border-bottom: 1px solid #81868c;
    margin-top: 10px; 
   }
   .link{
    width: 100%;
    border-bottom: 1px solid #81868c;
    margin-top: 10px; 
   }
   input[type="text"]:focus{
       border-bottom: 1px solid red;
      width: 100%;
   }
   input[type="tel"]:focus{
    border-bottom: 1px solid red;
   width: 100%;
}
input[type="email"]:focus{
    border-bottom: 1px solid red;
   width: 100%;
}
input[type="url"]:focus{
    border-bottom: 1px solid red;
   width: 100%;
}
   input[type="tel"]:valid{
       border:none;
   }
   input[type="text"]:valid{
    border:none;
}
input[type="email"]:valid{
    border:none;
}
input[type="url"]:valid{
    border:none;
}
.radiobox{
    margin:20px 0;
}
.radio{
   margin: 10px 20px 10px 0;
    display: inline-block;
}
.delete{
    opacity:0;
    padding: 2px 5px;
}
.delete:hover{
    opacity:1;
    
    
}
.extraInput{
    background-color:  white;
    padding: 10px;
    color: black;
    margin: 10px 10px 10px 0;
}

